{% extends "main/base.html" %}
{% load static %}
{% block title %}
Ваша корзина
{% endblock %}
{% block content %}
    <h1>Your shopping cart</h1>
        <table class="cart">
            <thead>
            <tr>

                <th>Название</th>
                <th>Количество</th>
                <th>Удалить</th>
                <th>Цена</th>
                <th>Итого</th>
            </tr>
            </thead>
<tbody>
    {% for item in cart %}
    {% with labtest=item.labtest %}
    <tr>
        <td>
            <a href="{{ labtest.get_absolute_url }}">
            </a>
        </td>
        <td>{{ labtest.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>
    <form action="{% url 'cart:cart_remove' labtest.id %}" method="post">
            <input type="submit" value="Remove">
                {% csrf_token %}
    </form>
        </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
        </tr>
                {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td>Total</td>
                    <td colspan="4"></td>
                    <td class="num">${{ cart.get_total_price }}</td>
                </tr>
            </tbody>
        </table>
    <p class="text-right">
        <a href="{% url 'main:labtest_list' %}" class="button light">К списку анализов</a>
        <a href="#" class="button">Оплатить</a>
    </p>
{% endblock %}